{% load static %}


<!DOCTYPE html>
<HTML lang='en'>
   <HEAD>
      <meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/monStyle2.css' %}"/>
      
      <TITLE> {% block title %} HOTEL-ONLINE  {% endblock %} </TITLE>
   </HEAD>
   <body>
       
   	<nav class="navbar navbar-default" id="nav-bar">
         {% block nav %}
   		<ul>
   			<li><a href="#"> premier </a></li>
   			<li><a href="#"> second </a></li>
   			<li><a href="#"> trois </a></li>
   		</ul>
   	</nav>
         {% endblock %}

   	<header class="container-fluid section2">
         {% block header %}
   		
         {% endblock %}
   	</header>
   	<section>
         {% block sectioncorps %}
   		<div class="row">
            {% block ligne1 %}
   			<div class="col-md-4">
   				<h1> PREMIER BLOC</h1>
   				<p> les differents types de ranger les colonnes sont:
                   <br> col-xs pour les petits écrans
                   <br> col-sm our les moins petites
                   <br> col-md pour les moyens
                   <br> col-lg pour les trop grand
                  </p>
   			</div>
   			<div class="col-md-4">
   				<h1> SECOND BLOC</h1>
   				<br> les differents types de boutons sont:
                  <br> btn-default
                  <br> btn-primary
                  <br> btn-success
                  <br> btn-info
                  <br> btn-warning
                  <br> btn-danger
   			</div>
   			<div class="col-md-4">
   				<h1> TROISIEME BLOC</h1>
   				<p> les differents types de ranger les colonnes sont:
                   <br> col-xs pour les petits écrans
                   <br> col-sm our les moins petites
                   <br> col-md pour les moyens
                   <br> col-lg pour les trop grand
                  </p>
   			</div>
            {% endblock %}
   		</div>
   		<section>

            {% block ligne2 %}
   			<article class="row">

   				<div class="col-md-3">
   					<P>
   						<h2> infos</h2>
   						<br> confort
   						<br> fiabilite
   						<br> satisfaction
   					</P>
   				</div>
   				<div class="col-md-3">
   					<P>
   						<h2> infos</h2>
   						<br> confort
   						<br> fiabilite
   						<br> satisfaction
   					</P>
   				</div>
   				<div class="col-md-3">
   					<P>
   						<h2> infos</h2>
   						<br> confort
   						<br> fiabilite
   						<br> satisfaction
   					</P>
   				</div>
   				<div class="col-md-3">
   					<P>
   						<h2> infos</h2>
   						<br> confort
   						<br> fiabilite
   						<br> satisfaction
   					</P>
   				</div>


			</article>

   			<article class="row modif">
   				<div class="col-md-3">
   					<h1> HELLO WORLD </h1>
   				</div>
   				<div class="col-md-3">
   					<h1> HELLO WORLD </h1>
   				</div>
   				<div class="col-md-3">
   					<h1> HELLO WORLD </h1>
   				</div>
   				<div class="col-md-3">
   					<h1> HELLO WORLD </h1></div>
            </article>
            
            {% endblock %}
   		</section>
   		<section class="row section3">
   			<div class="col-md-6">
   				<b> BIENVENUE</b>
   			</div>
   			<div class="col-md-6">
   				<b> BIENVENUE</b>
   			</div>

   		</section>

         {% endblock %}
   	</section>
   	<footer class="container-fluid footer" >
         {% block footer %}

   		<section class="row pied1">
   			<div class="col-md-3">infoA</div>
   			<div class="col-md-3">infoB</div>
   			<div class="col-md-3">infoC</div>
   			<div class="col-md-3">infoD</div>

   		</section>
   		<section class="row pied2">
   			<address> chimenekouomogne@yahoo.com</address>
   		</section>

         {% endblock %}
   	</footer>
   </body>